################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CC31N-TeamWP/FileContentIndex/6df8a91f-e4a2-452a-a60d-926daaf80b1c.vsidx
/.vs/CC31N-TeamWP/FileContentIndex/6df8a91f-e4a2-452a-a60d-926daaf80b1c.vsidx
/.vs/CC31N-TeamWP/FileContentIndex/6ed80bd6-a63e-4042-a75c-d484fc476b6b.vsidx
/.vs/CC31N-TeamWP/FileContentIndex
